### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
total_schools = len(school_data)
total_schools

15

In [4]:
total_students=school_data["size"].sum()
total_students

39170

In [5]:
total_budget=school_data["budget"].sum()
total_budget

24649428

In [6]:
avg_math_score=school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
avg_reading_score=school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
pass_math=school_data_complete.loc[school_data_complete["math_score"]>=70] 
perc_pass_math=(len(pass_math)/total_students) * 100
perc_pass_math

74.9808526933878

In [9]:
pass_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]
perc_pass_reading=(len(pass_reading)/total_students) * 100
perc_pass_reading

85.80546336482001

In [10]:
#pass_overall=school_data_complete.loc[school_data_complete["math_score"]>=70 & school_data_complete["reading_score"]>=70]
pass_overall=pass_math.loc[pass_math["reading_score"]>=70]
perc_pass_overall=(len(pass_overall)/total_students) * 100
perc_pass_overall

65.17232575950983

In [11]:
dist_sum=[{"Total Schools": total_schools,
         "Total Students": total_students,
         "Total Budget": total_budget,
         "Average Math Score": avg_math_score,
         "Average Reading Score": avg_reading_score,
         "% Passing Math": perc_pass_math,
         "% Passing Reading": perc_pass_reading,
         "% Overall Passing": perc_pass_overall
         }
         ]
dist_sum_df=pd.DataFrame(dist_sum)
dist_sum_df.style.format({"Total Students": "{:,.0f}", "Total Budget": "${:,.0f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
per_student_budget=school_data_complete['budget']/school_data_complete['size']
school_data_complete['Per Student Budget']=per_student_budget
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [63]:
grouped_school_df=school_data_complete.groupby(['school_name'])
grouped_school_df.count().head(15)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget
school_name,,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [14]:
grouped_school_df.dtypes

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,Per Student Budget
school_name,,,,,,,,,,,
Bailey High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Cabrera High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Figueroa High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Ford High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Griffin High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Hernandez High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Holden High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Huang High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Johnson High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Pena High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Rodriguez High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Shelton High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Thomas High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Wilson High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64
Wright High School,int64,object,object,object,int64,int64,int64,object,int64,int64,float64

In [15]:
total_students=grouped_school_df['school_name'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: school_name, dtype: int64

In [16]:
total_school_budget=grouped_school_df['budget'].min()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [17]:
per_student_budget=grouped_school_df['Per Student Budget'].min()
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: Per Student Budget, dtype: float64

In [18]:
avg_math=grouped_school_df['math_score'].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
avg_reading=grouped_school_df['reading_score'].mean()
avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
schooltype =['District', 'Charter', 'District', 'District', 'Charter', 'District', 'Charter', 'District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'Charter']

In [42]:
pm_school=pass_math["school_name"].value_counts()
perc_pm_school=(pm_school/total_students) * 100
perc_pm_school

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [43]:
pr_school=pass_reading['school_name'].value_counts()
perc_pr_school=(pr_school/total_students) * 100
perc_pr_school

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [45]:
po_school=pass_overall['school_name'].value_counts()
perc_po_school=(po_school/total_students) * 100
perc_po_school

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: school_name, dtype: float64

In [46]:
school_summary_df=pd.DataFrame({'School Type': schooltype,
                               'Total Students': total_students,
                               'Total School Budget': total_school_budget,
                               'Per Student Budget': per_student_budget,
                               'Average Math Score': avg_math,
                               'Average Reading Score': avg_reading,
                               '% Passing Math': perc_pm_school,
                               '% Passing Reading': perc_pr_school,
                               '% Overall Passing': perc_po_school})
school_summary_df
school_summary_df.style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [55]:
top_schools=school_summary_df.sort_values('% Overall Passing', ascending=False)
top_schools.head().style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [56]:
bottom_schools=school_summary_df.sort_values('% Overall Passing')
bottom_schools.head().style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [62]:
g9_math=school_data_complete.loc[school_data_complete['grade'] == '9th']
g10_math=school_data_complete.loc[school_data_complete['grade'] == '10th']
g11_math=school_data_complete.loc[school_data_complete['grade'] == '11th']
g12_math=school_data_complete.loc[school_data_complete['grade'] == '12th']
g12_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,655.0
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,655.0

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type