### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate totals for number of schools, number of students, and budget.
total_schools = len(school_data)
total_students=school_data["size"].sum()
total_budget=school_data["budget"].sum()

In [3]:
#Calculate average math and reading scores.
avg_math_score=school_data_complete["math_score"].mean()
avg_reading_score=school_data_complete["reading_score"].mean()

In [4]:
#Calculate percent passing Math, Reading, and Overall
pass_math=school_data_complete.loc[school_data_complete["math_score"]>=70] 
perc_pass_math=(len(pass_math)/total_students) * 100

pass_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70]
perc_pass_reading=(len(pass_reading)/total_students) * 100

pass_overall=pass_math.loc[pass_math["reading_score"]>=70]
perc_pass_overall=(len(pass_overall)/total_students) * 100

In [ ]:
#pass_overall=school_data_complete.loc[school_data_complete["math_score"]>=70 & school_data_complete["reading_score"]>=70]

In [5]:
dist_sum=[{"Total Schools": total_schools,
         "Total Students": total_students,
         "Total Budget": total_budget,
         "Average Math Score": avg_math_score,
         "Average Reading Score": avg_reading_score,
         "% Passing Math": perc_pass_math,
         "% Passing Reading": perc_pass_reading,
         "% Overall Passing": perc_pass_overall
         }
         ]
dist_sum_df=pd.DataFrame(dist_sum)
dist_sum_df.style.format({"Total Students": "{:,.0f}", "Total Budget": "${:,.0f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
#Calculate Per Student Budget
per_student_budget=school_data_complete['budget']/school_data_complete['size']
school_data_complete['Per Student Budget']=per_student_budget

In [9]:
#Group data by school name
grouped_school_df=school_data_complete.groupby(['school_name'])

In [ ]:
#Check data types for eac series
#grouped_school_df.dtypes

In [10]:
#Calculate total number of students and identify budget and per student budget amounts for each school
total_students=grouped_school_df['school_name'].count()
total_school_budget=grouped_school_df['budget'].min()
per_student_budget=grouped_school_df['Per Student Budget'].min()

In [11]:
#Calculate average math and reading scores
avg_math=grouped_school_df['math_score'].mean()
avg_reading=grouped_school_df['reading_score'].mean()

In [12]:
#Create list of school types
schooltype =['District', 'Charter', 'District', 'District', 'Charter', 'District', 'Charter', 'District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'Charter']

In [13]:
#Calculate percent passing Math, Reading, and Overall
pm_school=pass_math["school_name"].value_counts()
perc_pm_school=(pm_school/total_students) * 100

pr_school=pass_reading['school_name'].value_counts()
perc_pr_school=(pr_school/total_students) * 100

po_school=pass_overall['school_name'].value_counts()
perc_po_school=(po_school/total_students) * 100

In [14]:
school_summary_df=pd.DataFrame({'School Type': schooltype,
                               'Total Students': total_students,
                               'Total School Budget': total_school_budget,
                               'Per Student Budget': per_student_budget,
                               'Average Math Score': avg_math,
                               'Average Reading Score': avg_reading,
                               '% Passing Math': perc_pm_school,
                               '% Passing Reading': perc_pr_school,
                               '% Overall Passing': perc_po_school})
school_summary_df
school_summary_df.style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [15]:
top_schools=school_summary_df.sort_values('% Overall Passing', ascending=False)
top_schools.head().style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [16]:
bottom_schools=school_summary_df.sort_values('% Overall Passing')
bottom_schools.head().style.format({"Total Students": "{:,.0f}", "Total School Budget": "${:,.0f}", "Per Student Budget": "${:,.0f}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Filter 'complete' dataframe by Grade
g9_data=school_data_complete.loc[school_data_complete['grade'] == '9th']
g10_data=school_data_complete.loc[school_data_complete['grade'] == '10th']
g11_data=school_data_complete.loc[school_data_complete['grade'] == '11th']
g12_data=school_data_complete.loc[school_data_complete['grade'] == '12th']

In [ ]:
#Group each Grade's data by school name
g9_grouped = g9_data.groupby(['school_name'])
g10_grouped = g10_data.groupby(['school_name'])
g11_grouped = g11_data.groupby(['school_name'])
g12_grouped = g12_data.groupby(['school_name'])

In [ ]:
#Calculate average math scores for each grade; grouped by school.
g9_avg_math = g9_grouped['math_score'].mean()
g10_avg_math = g10_grouped['math_score'].mean()
g11_avg_math = g11_grouped['math_score'].mean()
g12_avg_math = g12_grouped['math_score'].mean()

In [ ]:
#Display dataframe of math scores
grade_summary_math_df=pd.DataFrame({'9th': g9_avg_math,
                               '10th': g10_avg_math,
                               '11th': g11_avg_math,
                               '12th': g12_avg_math})
grade_summary_math_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#Calculate avreage reading score for each grade; grouped by school
g9_avg_reading = g9_grouped['reading_score'].mean()
g10_avg_reading = g10_grouped['reading_score'].mean()
g11_avg_reading = g11_grouped['reading_score'].mean()
g12_avg_reading = g12_grouped['reading_score'].mean()

In [ ]:
#Display dataframe of reading scores
grade_summary_reading_df=pd.DataFrame({'9th': g9_avg_reading,
                               '10th': g10_avg_reading,
                               '11th': g11_avg_reading,
                               '12th': g12_avg_reading})
grade_summary_reading_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
#Group 'complete' dataframe by school type
grouped_schooltype_df=school_data_complete.groupby(['type'])

In [ ]:
#Calculate total students by school type
schooltype_total_students=grouped_schooltype_df['type'].count()

In [ ]:
#Calculate average math and reading scores by school type.
schooltype_avg_math=grouped_schooltype_df['math_score'].mean()
schooltype_avg_reading=grouped_schooltype_df['reading_score'].mean()

In [ ]:
#Calculate percent passing Math, Reading, and Overall
pm_schooltype=pass_math["type"].value_counts()
perc_pm_schooltype=(pm_schooltype/schooltype_total_students) * 100

pr_schooltype=pass_reading["type"].value_counts()
perc_pr_schooltype=(pr_schooltype/schooltype_total_students) * 100

po_schooltype=pass_overall["type"].value_counts()
perc_po_schooltype=(po_schooltype/schooltype_total_students) * 100

In [ ]:
#Display dataframe of results by school type.
school_summary_df=pd.DataFrame({'Average Math Score': schooltype_avg_math,
                               'Average Reading Score': schooltype_avg_reading,
                               '% Passing Math': perc_pm_schooltype,
                               '% Passing Reading': perc_pr_schooltype,
                               '% Overall Passing': perc_po_schooltype})
school_summary_df